In [12]:
import pandas as pd 
geelong_data=pd.read_csv('/content/geelong_data.csv')
builtenv_data=pd.read_csv('/content/geelongbuiltenv.csv')
builtenv_data

                   Suburb  ...  RatioTrailsToRoadsquintile
0         Clifton Springs  ...                           2
1            Geelong West  ...                           1
2          Newcomb/Moolap  ...                           3
3   City/Drum/Sth Geelong  ...                           3
4          Hamlyn Heights  ...                           3
5               Bell Park  ...                           5
6          St Albans Park  ...                           1
7          Bell Post Hill  ...                           4
8             Waurn Ponds  ...                           3
9      Grovedale/Marshall  ...                           3
10               Drysdale  ...                           3
11            Whittington  ...                           5
12           East Geelong  ...                           3
13             Herne Hill  ...                           4
14           Barwon Heads  ...                           5
15          Portarlington  ...                           2
16  StLeonards/IndentedHd  ...                           2
17  NthGeelong/Rippleside  ...                           5
18       Manifold Heights  ...                           1
19                Highton  ...                           2
20     Thomson/Breakwater  ...                           4
21        Wandana Heights  ...                           2
22                  Corio  ...                           3
23                   Lara  ...                           4
24                Belmont  ...                           5
25            Ocean Grove  ...                           2
26                Newtown  ...                           3
27                Leopold  ...                           4
28    Norlane/North Shore  ...                           4
29                 Anakie  ...                           1
30          Avalon (Vic.)  ...                           2
31               Balliang  ...                           1
32              Batesford  ...                           1
33               Breamlea  ...                           5
34                  Ceres  ...                           2
35             Connewarre  ...                           4
36        Curlewis (Vic.)  ...                           5
37              Fyansford  ...                           5
38    Little River (Vic.)  ...                           1
39           Lovely Banks  ...                           5
40               Mannerim  ...                           4
41            Marcus Hill  ...                           5
42              Moorabool  ...                           1
43           Mount Duneed  ...                           2
44         Point Lonsdale  ...                           1
45             Wallington  ...                           2

[46 rows x 39 columns]

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.4.0/spark-2.4.0-bin-hadoop2.7.tgz
!tar xf spark-2.4.0-bin-hadoop2.7.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.0-bin-hadoop2.7"

In [13]:
import findspark
findspark.init()
from pyspark.sql import SparkSession 
spark = SparkSession.builder.appName('ml-bank').getOrCreate()
geelong_data_spark_df = spark.createDataFrame(geelong_data)
builtenv_data_spark_df = spark.createDataFrame(builtenv_data)
geelong_data_spark_df.show()
builtenv_data_spark_df.show()

+-----+--------------------+--------------------+----------+--------+--------+--------------------+--------------------+--------------------+----------+----------+----------+-----------+--------+--------+--------+
|WebID|                Area|Total_dwellings_2016|Train_2016|pop_2016|emp_2016|Total dwellings_2011|Total dwellings_2006|Total dwellings_2001|Train_2011|Train_2006|Train_2001|Unnamed: 12|pop_2011|pop_2006|pop_2001|
+-----+--------------------+--------------------+----------+--------+--------+--------------------+--------------------+--------------------+----------+----------+----------+-----------+--------+--------+--------+
| 10.0|City of Greater G...|              106149|      3864|  233429|   59000|              4075.0|              3318.0|              2839.0|      75.0|      80.0|      66.0|        NaN| 10117.0|  8818.0|  7654.0|
|100.0|Armstrong Creek -...|                1973|       116|    5432|    1891|              1326.0|              1309.0|              1279.0|      80.0|      48.0|      45.0|        NaN|  2893.0|  3026.0|  2955.0|
|110.0|Barwon Heads - Co...|                2558|        97|    4554|    1054|              2165.0|              2116.0|              2053.0|      32.0|      50.0|      58.0|        NaN|  5016.0|  5135.0|  5370.0|
|120.0|           Bell Park|                2389|        77|    5013|    1277|              2345.0|              1827.0|              1827.0|      74.0|      24.0|      18.0|        NaN|  4046.0|  2873.0|  2953.0|
|130.0|      Bell Post Hill|                2171|        64|    4914|    1187|              1756.0|              1780.0|              1742.0|     107.0|      56.0|      70.0|        NaN|  3812.0|  3843.0|  3742.0|
|140.0|             Belmont|                6674|       231|   14048|    3666|              1778.0|              1714.0|              1680.0|      24.0|      13.0|      22.0|        NaN|  4068.0|  4052.0|  4239.0|
|150.0|     Clifton Springs|                3412|        66|    7521|    1782|               668.0|               638.0|               651.0|      34.0|      34.0|      31.0|        NaN|  1608.0|  1769.0|  1676.0|
|160.0|               Corio|                6200|       108|   15292|    2911|              3936.0|              3922.0|              4000.0|      27.0|      80.0|      56.0|        NaN|  8314.0|  8229.0|  8975.0|
|170.0|            Curlewis|                 614|        15|    1557|     432|              3271.0|              3039.0|              2632.0|      54.0|      26.0|      25.0|        NaN|  7554.0|  7206.0|  6826.0|
|180.0|Drysdale - Bellarine|                1935|        44|    4441|     944|               100.0|                93.0|                85.0|       0.0|       1.0|       1.0|        NaN|   222.0|   210.0|   242.0|
|190.0|        East Geelong|                1832|       117|    3865|    1186|               722.0|               552.0|               583.0|      29.0|      18.0|      19.0|        NaN|  1326.0|   993.0|  1056.0|
|200.0|             Geelong|                3072|       184|    5769|    1696|              7504.0|              6661.0|              5726.0|     306.0|     203.0|     143.0|        NaN| 18625.0| 16561.0| 14335.0|
|210.0|Geelong West - Ma...|                4660|       302|    9617|    2923|             95747.0|             87976.0|             80957.0|    3316.0|    2114.0|    1978.0|        NaN|210874.0|197475.0|186889.0|
|220.0|           Grovedale|                6026|       177|   14311|    3658|              2232.0|              2054.0|              1821.0|      58.0|      58.0|      54.0|        NaN|  5226.0|  4649.0|  4207.0|
|230.0|      Hamlyn Heights|                2842|       101|    6292|    1767|               180.0|               421.0|               170.0|       0.0|       0.0|       4.0|        NaN|   452.0|   962.0|   511.0|
|240.0|Herne Hill - Fyan...|                1858|        57|    3605|    1046|              4455.0|              4357.0|              4344.0|     259.0|     164.0|     151.0|        NaN|  9276.0|  8861.0|  8809.0|
|250.0|Highton - Wandana...|                8296|       394|   20991|    5656|              5828.0|              5232.0|              4312.0|     108.0|     130.0|     118.0|        NaN| 14149.0| 13178.0| 11631.0|
|260.0|                Lara|                5860|       540|   16358|    4634|              6080.0|              5916.0|              5764.0|      52.0|      87.0|     105.0|        NaN| 15199.0| 14944.0| 15315.0|
|270.0|             Leopold|                5219|       107|   12814|    3407|              2747.0|              2541.0|              2515.0|     138.0|     113.0|      74.0|        NaN|  5309.0|  4952.0|  4940.0|
|280.0|Lovely Banks - Ba...|                 946|        25|    2638|     773|               935.0|               673.0|               526.0|      32.0|      15.0|      13.0|        NaN|  2567.0|  2080.0|  1541.0|
+-----+--------------------+--------------------+----------+--------+--------+--------------------+--------------------+--------------------+----------+----------+----------+-----------+--------+--------+--------+
only showing top 20 rows

+--------------------+-------------------+-----------+---------------+---------+-------------+-------+-------------+---------------------+-------------+---------------------+--------------------+-------------------+------------------+-------------------+------------------+---------------+--------------------+------------------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------------+------------------+-----------------------+------------------+--------------------+------------------+----------------+------------------+------------------+-------------------+-----------------------+------------------+----------------------+--------------------+--------------------------+
|              Suburb|                LUM|LUMquintile|TrainDistThresh|TrainPres|BusDistThresh|BusPres|AccUtDestPres|AccUtDestPresquintile|AccUtDestDist|AccUtDestDistquintile|         SprtLeiDens|SprtLeiDensquintile|       SprtLeiDist|SprtLeiDistquintile|           POSDist|POSDistquintile|          POSAreaPct|POSAreaPctquintile|        TakeawayDens|TakeawayDensquintile|     TakeawayDist|TakeawayDistquintile|  HealthyFoodDensity|HealthyFoodDensityquintile|   HealthyFoodDist|HealthyFoodDistquintile|      GrossDwlDens|GrossDwlDensquintile|          StrtConn|StrtConnquintile|        ActCenDist|ActCenDistquintile|    TobPopDensp1000|TobPopDensp1000quintile|    TobTobVendDist|TobTobVendDistquintile|  RatioTrailsToRoads|RatioTrailsToRoadsquintile|
+--------------------+-------------------+-----------+---------------+---------+-------------+-------+-------------+---------------------+-------------+---------------------+--------------------+-------------------+------------------+-------------------+------------------+---------------+--------------------+------------------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------------+------------------+-----------------------+------------------+--------------------+------------------+----------------+------------------+------------------+-------------------+-----------------------+------------------+----------------------+--------------------+--------------------------+
|     Clifton Springs|        0.418635803|          4|              0|        0|            1|      1|            2|                    2|            2|                    2|                 0.0|                  1|2334.8402929999997|                  3|195.30812769999997|              1|         0.211762447|                 4|          0.08852821|                   3|734.8545343999999|                   2|                 0.0|                         1|       2681.513753|                      4| 6.138844752000001|                   4|       41.37873213|               4|       21768.17007|                 4|        0.419932811|                      2|       775.3718252|                     3|          0.06344304|                         2|
|        Geelong West|        0.512725515|          4|              1|        0|            1|      1|            7|                    5|            7|                    5|                 0.0|                  1|       913.5522487|                  1|250.55687379999998|              3|         0.031718385|                 1|         0.485291798|                   5|      341.1283017|                   1|         0.178791715|                         5|       584.1016841|                      1|       13.94074304|                   5|        77.7554397|               5|1812.1553379999998|                 1| 2.9967036260000004|                      4|       315.7219952|                     1|         0.025996934|                         1|
|      Newcomb/Moolap|0.20968926699999998|          2|              0|        0|            1|      1|            5|                    3|            4|                    4|         0.020258029|                  3|        1400.55132|                  2|324.85490319999997|              4|         0.425467107|                 5|          0.16206423|                   4|      769.4486508|                   3|         0.050645072|                         2|1366.0979849999999|                      2|       0.676010839|                   3|       7.134545534|               3|       5267.718643|                 2|        2.670940171|                      4| 746.2430787000001|                     2|         0.135686955|                         3|
|City/Drum/Sth Gee...| 0.8475458709999999|          5|              1|        1|            1|      1|            7|                    5|            7|                    5|         0.037317509|                  4| 965.3443082999999|                  1|       229.9753429|              2|          0.14260005|                 4|         0.621958479|                   5|       369.506218|                   1|         0.024878339|                         2| 956.2746678999999|                      2|       7.481206563|                   5|       113.2659854|               5|       1663.495404|                 1|  9.479434447000001|                      5|       316.1791847|                     1|          0.17203757|                         3|
|      Hamlyn Heights|        0.307938454|          3|              0|        0|            1|      1|            3|                    2|            4|                    3|                 0.0|                  1|        1967.15597|                  3|       295.4103463|              3|         0.103317439|                 4|0.056174145999999994|                   3|721.5471177000001|                   2|0.028087072999999997|                         2| 932.8196312000001|                      2| 9.638755767000001|                   5|       57.58778651|               5|       4325.191244|                 1|        0.329326527|                      2| 669.3418987000001|                     2|         0.157551089|                         3|
|           Bell Park|        0.543159838|          5|              1|        0|            1|      1|            4|                    2|            6|                    3|0.032628872999999996|                  3|       1121.616791|                  1|192.28011419999999|              1|         0.066116375|                 1|         0.261030986|                   5|742.7456718999999|                   2|         0.130515493|                         5| 612.0315132999999|                      1| 6.863578223999999|                   5|        48.6323056|               4|5604.9347259999995|                 2|        1.513431706|                      3|       613.8343981|                     2| 0.28406702699999997|                         5|
|      St Albans Park|        0.133935008|          2|              0|        0|            1|      1|            2|                    2|            2|                    2|                 0.0|                  1|1948.1085059999998|                  3|242.31470290000001|              2|         0.049040654|                 1|         0.039778978|                   2|844.9388845000001|                   3|                 0.0|                         1|       2430.582007|                      3|       9.828607591|                   5|       54.20364362|               5|       6505.646796|                 2|          0.2027164|                      2| 839.8501413999999|                     3|0.031002017000000003|                         1|
|      Bell Post Hill|0.41768199799999994|          4|              0|        0|            1|      1|            4|                    2|            4|                    3|                 0.0|                  1|       1546.179119|                  2|       248.7967971|              3|         0.049179373|                 1|         0.048314378|                   2|697.3421897000001|                   2|         0.024157189|                         2|       706.6923015|                      1|3.5599128689999997|                   3|       19.40275836|               3|        6247.54509|                 2|0.19952114899999998|                      2|       844.4011718|                     3| 0.18942921100000001|                         4|
|         Waurn Ponds|        0.245582998|          3|              0|        0|            0|      1|            3|                    2|            0|                    3|0.014134658999999999|                  2|2137.7843199999998|                  3|       527.5502148|              4|          0.00566142|                 1|         0.042403977|                   2|      1822.271536|                   4|                 0.0|                         1|       3016.184906|                      4|       0.324107795|                   2|5.0021409960000005|               2|       7143.010736|                 3|        3.076923077|                      5|1831.7489859999998|                     4|         0.145048686|                         3|
|  Grovedale/Marshall|        0.533333866|          5|              1|        1|            1|      1|            8|                    5|            6|                    5|          0.01901618|                  3|       2094.272727|                  3|277.66774760000004|              3|         0.054322076|                 1| 0.13311325699999998|                   4|      846.3802397|                   3| 0.06655662799999999|                         5|       961.2715478|                      2|        3.16840353|                   3|       23.08044976|               3|       7280.750816|                 3|        0.877357899|                      3|       792.8789632|                     3|         0.166972071|                         3|
|            Drysdale|        0.213629758|          2|              1|        1|            1|      1|            6|                    4|            6|                    4|          0.03566556|                  4|       1371.957516|                  2|295.56050719999996|              3|         0.024916969|                 1|         0.106996679|                   3|991.7744379000001|                   3|          0.01188852|                         2|       1368.527751|                      2|       0.428610347|                   2|       5.672784002|               2|       20319.72924|                 4|        1.617749018|                      4| 999.4898927999999|                     3|         0.138250276|                         3|
|         Whittington|0.40349009399999997|          4|              0|        0|            1|      1|            2|                    2|            6|                    2|0.053612189000000005|                  5|       1088.600332|                  1|       143.4058595|              1|         0.331427277|                 5| 0.10722437900000001|                   4|      644.6992835|                   2|                 0.0|                         1|1362.5049199999999|                      2| 9.929678147999999|                   5|       51.94490221|               5|       5407.438632|                 2|0.37313432799999996|                      2|       706.5108443|                     2|         0.495891397|                         5|
|        East Geelong|        0.615407044|          5|              1|        0|            1|      1|            4|                    2|            6|                    3|                 0.0|                  1|       927.5730491|                  1|       369.2742859|              4| 0.37345994899999996|                 5|         0.143162104|                   4|      337.8028208|                   1|         0.047720701|                         2|       839.6701331|                      1|        6.16137137|                   4|       62.36760787|               5|       2701.234902|                 1|        1.554806945|                      3|       336.3084675|                     1|         0.151095311|                         3|
|          Herne Hill|        0.399802371|          3|              0|        0|            1|      1|            3|                    2|            4|                    3|                 0.0|                  1|1665.0260529999998|                  2|       213.2463755|              2| 0.12342606199999999|                 4| 0.31733207399999996|                   5|      433.4788046|                   1|                 0.0|                         1|1526.5381539999998|                      3|       11.31588913|                   5|       63.97675835|               5|       3908.636859|                 1|        1.203007519|                      3|       442.8184984|                     1|         0.222255703|                         4|
|        Barwon Heads|        0.542890346|          5|              0|        0|            1|      1|            6|                    4|            5|                    4|                 0.0|                  1|       4927.240811|                  4|158.27607949999998|              1|         0.554617535|                 5| 0.11473532300000001|                   4|      717.3337387|                   2|         0.028683831|                         2|       1326.723488|                      2|       3.978732129|                   4|       31.72020693|               3|       23115.53276|                 5|        1.413227812|                      3|        696.377342|                     2|         0.292692613|                         5|
|       Portarlington|        0.156688844|          2|              0|        0|            1|      1|            5|                    3|            4|                    4|         0.007594211|                  2|       2112.325213|                  3|       330.3357547|              4|0.055974759000000006|                 1|         0.045565267|                   2|      1595.840377|                   3|0.022782632999999997|                         2|       1501.996151|                      3|       0.442741486|                   2|       6.024240108|               3|29756.771230000002|                 5| 1.6713091919999998|                      4|       1168.516025|                     3|         0.056918373|                         2|

In [14]:
geelong_data_spark_df.createOrReplaceTempView("geelong_table")
builtenv_data_spark_df.createOrReplaceTempView("builtenv_table")
co=spark.sql("select count(*) from builtenv_table")
co.show()
same_suburbs=spark.sql("select g.Area,b.Suburb from geelong_table g,builtenv_table b where g.Area=b.Suburb")
same_suburbs.show()
distinct_names=spark.sql("select k.Suburb from builtenv_table k where k.Suburb NOT IN(select b.Suburb from geelong_table g,builtenv_table b where g.Area=b.Suburb) order by k.Suburb")
distinct_names.show(100)
geelong_areas=spark.sql("select area from geelong_table order by area")
geelong_areas.show(100)

+--------+
|count(1)|
+--------+
|      46|
+--------+

+--------------------+--------------------+
|                Area|              Suburb|
+--------------------+--------------------+
|            Balliang|            Balliang|
|             Highton|             Highton|
|  Thomson/Breakwater|  Thomson/Breakwater|
|              Anakie|              Anakie|
|        Mount Duneed|        Mount Duneed|
|     Wandana Heights|     Wandana Heights|
|        Barwon Heads|        Barwon Heads|
|City/Drum/Sth Gee...|City/Drum/Sth Gee...|
|            Drysdale|            Drysdale|
|     Clifton Springs|     Clifton Springs|
|      St Albans Park|      St Albans Park|
|     Curlewis (Vic.)|     Curlewis (Vic.)|
|      Hamlyn Heights|      Hamlyn Heights|
|         Marcus Hill|         Marcus Hill|
|               Ceres|               Ceres|
|          Herne Hill|          Herne Hill|
|    Manifold Heights|    Manifold Heights|
|            Breamlea|            Breamlea|
|           Moorabool|           Moorabool|
|             Leopold|             Leopold|
+--------------------+--------------------+
only showing top 20 rows

+------+
|Suburb|
+------+
+------+

+--------------------+
|                area|
+--------------------+
|              Anakie|
|Armstrong Creek -...|
|       Avalon (Vic.)|
|            Balliang|
|        Barwon Heads|
|Barwon Heads - Co...|
|           Batesford|
|           Bell Park|
|      Bell Post Hill|
|             Belmont|
|            Breamlea|
|     Central Geelong|
|               Ceres|
|City of Greater G...|
|City/Drum/Sth Gee...|
|     Clifton Springs|
|          Connewarre|
|               Corio|
|            Curlewis|
|     Curlewis (Vic.)|
|            Drysdale|
|Drysdale - Bellarine|
|        East Geelong|
|           Fyansford|
|             Geelong|
|        Geelong West|
|Geelong West - Ma...|
|           Grovedale|
|  Grovedale/Marshall|
|      Hamlyn Heights|
|          Herne Hill|
|Herne Hill - Fyan...|
|             Highton|
|Highton - Wandana...|
|                Lara|
|             Leopold|
| Little River (Vic.)|
|        Lovely Banks|
|Lovely Banks - Ba...|
|    Manifold Heights|
|            Mannerim|
|         Marcus Hill|
|Marshall - Charle...|
|           Moorabool|
|        Mount Duneed|
|    Newcomb - Moolap|
|      Newcomb/Moolap|
|             Newtown|
|Norlane - North S...|
| Norlane/North Shore|
|North Geelong - R...|
|NthGeelong/Ripple...|
|         Ocean Grove|
|      Point Lonsdale|
|       Portarlington|
|Rural Bellarine P...|
|         Rural North|
|South Geelong - T...|
|      St Albans Park|
|St Leonards - Ind...|
|StLeonards/Indent...|
|  Thomson/Breakwater|
|          Wallington|
|     Wandana Heights|
|         Waurn Ponds|
| Waurn Ponds - Ceres|
|         Whittington|
+--------------------+

In [0]:
#distinct_names_pd=distinct_names.toPandas()
#from google.colab import files

#distinct_names_pd.to_csv('distinct_names.csv') 
#files.download('distinct_names.csv')

In [28]:
processed_data=spark.sql("select g.Area,g.Total_dwellings_2016,g.Train_2016,g.pop_2016,b.* from geelong_table g,builtenv_table b where g.Area=b.Suburb")
processed_data.show()
pre_processed_data=processed_data.toPandas()
pre_processed_data=pre_processed_data.drop(['Suburb'], axis = 1)
pre_processed_data
pre_processed_data.to_csv('pre_processed_data.csv') 
files.download('pre_processed_data.csv')

+--------------------+--------------------+----------+--------+--------------------+-------------------+-----------+---------------+---------+-------------+-------+-------------+---------------------+-------------+---------------------+-----------+-------------------+------------------+-------------------+------------------+---------------+--------------------+------------------+--------------------+--------------------+------------------+--------------------+--------------------+--------------------------+------------------+-----------------------+-------------------+--------------------+------------------+----------------+------------------+------------------+------------------+-----------------------+------------------+----------------------+--------------------+--------------------------+
|                Area|Total_dwellings_2016|Train_2016|pop_2016|              Suburb|                LUM|LUMquintile|TrainDistThresh|TrainPres|BusDistThresh|BusPres|AccUtDestPres|AccUtDestPresquintile|AccUtDestDist|AccUtDestDistquintile|SprtLeiDens|SprtLeiDensquintile|       SprtLeiDist|SprtLeiDistquintile|           POSDist|POSDistquintile|          POSAreaPct|POSAreaPctquintile|        TakeawayDens|TakeawayDensquintile|      TakeawayDist|TakeawayDistquintile|  HealthyFoodDensity|HealthyFoodDensityquintile|   HealthyFoodDist|HealthyFoodDistquintile|       GrossDwlDens|GrossDwlDensquintile|          StrtConn|StrtConnquintile|        ActCenDist|ActCenDistquintile|   TobPopDensp1000|TobPopDensp1000quintile|    TobTobVendDist|TobTobVendDistquintile|  RatioTrailsToRoads|RatioTrailsToRoadsquintile|
+--------------------+--------------------+----------+--------+--------------------+-------------------+-----------+---------------+---------+-------------+-------+-------------+---------------------+-------------+---------------------+-----------+-------------------+------------------+-------------------+------------------+---------------+--------------------+------------------+--------------------+--------------------+------------------+--------------------+--------------------+--------------------------+------------------+-----------------------+-------------------+--------------------+------------------+----------------+------------------+------------------+------------------+-----------------------+------------------+----------------------+--------------------+--------------------------+
|            Balliang|                 106|         0|     290|            Balliang|         1.45826E-4|          1|              0|        0|            0|      0|            1|                    1|            0|                    1|        0.0|                  1|       26140.12692|                  5|       1711.468932|              5|         0.222162792|                 4|                 0.0|                   1|23445.162640000002|                   5|                 0.0|                         1|24994.534480000002|                      5|        0.007524527|                   1|       0.983318916|               1|        32549.5287|                 5|               0.0|                      1|       18751.68283|                     5|         0.038605499|                         1|
|             Highton|                7547|       192|   18953|             Highton|        0.386139379|          3|              0|        0|            1|      1|            6|                    4|            4|                    4|0.008631878|                  2|       1681.611727|                  2|217.11884869999997|              2|         0.166303758|                 4|          0.10358254|                   3|       1141.854025|                   3|         0.017263757|                         2|       1463.441728|                      3|  5.802167722999999|                   4|       40.65159111|               4|       6272.131139|                 2|       0.480048005|                      2|1019.6183880000001|                     3| 0.12190052900000001|                         2|
|  Thomson/Breakwater|                1433|        11|    2621|  Thomson/Breakwater|0.45042992299999995|          4|              1|        0|            1|      1|            2|                    2|            6|                    2|0.090396015|                  5|1166.3800039999999|                  2|       138.2614252|              1|         0.307800705|                 5| 0.36158406200000004|                   5|       465.8536804|                   1|                 0.0|                         1|       1608.507807|                      3|        2.291587264|                   3|       34.39109092|               4|       3946.259849|                 1|5.7892705520000005|                      5|       433.9333025|                     1| 0.22285225399999997|                         4|
|              Anakie|                 271|         5|     690|              Anakie|         1.20424E-4|          1|              0|        0|            0|      0|            2|                    2|            0|                    2|        0.0|                  1|       21560.13364|                  5|       2682.871535|              5|         0.004769081|                 1|                 0.0|                   1|       16310.61926|                   5|                 0.0|                         1|        18311.6785|                      5|        0.015401027|                   1|       0.567092079|               1|25884.481330000002|                 5|               0.0|                      1|       14757.09296|                     5|                 0.0|                         1|
|        Mount Duneed|                 587|        25|    1578|        Mount Duneed|        0.140498297|          2|              0|        0|            0|      1|            2|                    2|            1|                    2|        0.0|                  1|        6520.56403|                  5|       923.2610445|              5|          0.01481934|                 1|                 0.0|                   1|4379.5014280000005|                   4|                 0.0|                         1|        4362.59463|                      4|        0.066460084|                   2|        2.00250909|               1|       11497.80289|                 4|               0.0|                      1|        4362.59463|                     5| 0.09061678199999999|                         2|
|     Wandana Heights|                 736|        20|    2037|     Wandana Heights|         0.41461013|          4|              0|        0|            0|      1|            2|                    2|            2|                    2|        0.0|                  1|       2412.145401|                  3|184.85832580000002|              1|         0.088619136|                 1|                 0.0|                   1|       2327.635718|                   4|                 0.0|                         1|       2306.150057|                      3| 4.0900746880000005|                   4|       29.47801577|               3|       6702.915589|                 2|               0.0|                      1|       2033.601867|                     4|         0.046827451|                         2|
|        Barwon Heads|                2226|        49|    3875|        Barwon Heads|        0.542890346|          5|              0|        0|            1|      1|            6|                    4|            5|                    4|        0.0|                  1|       4927.240811|                  4|158.27607949999998|              1|         0.554617535|                 5| 0.11473532300000001|                   4|       717.3337387|                   2|         0.028683831|                         2|       1326.723488|                      2|        3.978732129|                   4|       31.72020693|               3|       23115.53276|                 5|       1.413227812|                      3|        696.377342|                     2|         0.292692613|                         5|
|City/Drum/Sth Gee...|                 479|        36|     993|City/Drum/Sth Gee...| 0.8475458709999999|          5|              1|        1|            1|      1|            7|                    5|            7|                    5|0.037317509|                  4| 965.3443082999999|                  1|       229.9753429|              2|          0.14260005|                 4|         0.621958479|                   5|        369.506218|                   1|         0.024878339|                         2| 956.2746678999999|                      2|        7.481206563|                   5|       113.2659854|               5|       1663.495404|                 1| 9.479434447000001|                      5|       316.1791847|                     1|          0.17203757|                         3|
|            Drysdale|                4275|         0|    1858|            Drysdale|        0.213629758|          2|              1|        1|            1|      1|            6|                    4|            6|                    4| 0.03566556|                  4|       1371.957516|                  2|295.56050719999996|              3|         0.024916969|                 1|         0.106996679|                   3| 991.7744379000001|                   3|          0.01188852|                         2|       1368.527751|                      2|        0.428610347|                   2|       5.672784002|               2|       20319.72924|                 4|       1.617749018|                      4| 999.4898927999999|                     3|         0.138250276|                         3|
|     Clifton Springs|                3412|        66|    7521|     Clifton Springs|        0.418635803|          4|              0|        0|            1|      1|            2|                    2|            2|                    2|        0.0|                  1|2334.8402929999997|                  3|195.30812769999997|              1|         0.211762447|                 4|          0.08852821|                   3| 734.8545343999999|                   2|                 0.0|                         1|       2681.513753|                      4|  6.138844752000001|                   4|       41.37873213|               4|       21768.17007|                 4|       0.419932811|                      2|       775.3718252|                     3|          0.06344304|                         2|
|      St Albans Park|                2149|        47|    4846|      St Albans Park|        0.133935008|          2|              0|        0|            1|      1|            2|                    2|            2|                    2|        0.0|                  1|1948.1085059999998|                  3|242.31470290000001|              2|         0.049040654|                 1|         0.039778978|                   2| 844.9388845000001|                   3|                 0.0|                         1|       2430.582007|                      3|        9.828607591|                   5|       54.20364362|               5|       6505.646796|                 2|         0.2027164|                      2| 839.8501413999999|                     3|0.031002017000000003|                         1|
|     Curlewis (Vic.)|                 618|         8|    1551|     Curlewis (Vic.)|        0.218661312|          3|              0|        0|            0|      1|            1|                    1|            0|                    1|        0.0|                  1|          5648.705|                  4|       315.6647897|              3|         0.062760028|                 1|                 0.0|                   1|       4651.538184|                   5|                 0.0|                         1| 5275.631700999999|                      5|        0.057741287|                   2|       4.157372689|               2|        17524.7685|                 4|       4.444444444|                      5|       2888.923238|                     4|         0.267464023|                         5|
|      Hamlyn Heights|                2842|       101|    6292|      Hamlyn Heights|        0.307938454|          3|              0|        0|            1|      1|            3|                    2|            4|                    3|        0.0|                  1|        1967.15597|                  3|       295.4103463|              3|         0.103317439|                 4|0.056174145999999994|                   3| 721.5471177000001|                   2|0.028087072999999997|                         2| 932.8196312000001|                      2|  9.638755767000001|                   5|       57.58778651|               5|       4325.191244|                 1|       0.329326527|                      2| 669.3418987000001|                     2|         0.157551089|                         3|
|         Marcus Hill|                  68|         0|     159|         Marcus Hill|        0.391454591|          3|              0|        0|            1|      1|            2|                    2|            1|                    2|        0.0|                  1|       2756.675409|                  3|          662.5835|              4| 0.07212908900000001|                 1|         0.052660672|                   2|       1960.876252|                   4|                 0.0|                         1|       3240.482013|                      4|        0.039792557|                   1|3.7208624410000004|               2|       23135.67494|                 5|       11.04972376|                      5|       2025.788123|                     4|         0.398211146|                         5|
|               Ceres|                  89|         3|     254|               Ceres|                0.0|          1|              0|        0|            0|      0|            0|                    1|            0|                    1|        0.0|                  1|       5734.185379|                  4| 900.7222039999999|              5|0.011667928999999999|                 1|                 0.0|                   1|        5544.01684|                   5|                 0.0|                         1| 5577.901822999999|                      5|0.07321372799999999|                   2|        2.73545796|               1|       8282.352266|                 3|               0.0|                      1|       5310.662042|                     5|          0.10064376|                         2|
|          Herne Hill|                1749|        27|    3413|          Herne Hill|        0.399802371|          3|              0|        0|            1|      1|            3|                    2|            4|                    3|        0.0|                  1|1665.0260529999998|                  2|       213.2463755|              2| 0.12342606199999999|                 4| 0.31733207399999996|                   5|       433.4788046|                   1|                 0.0|                         1|1526.5381539999998|                      3|        11.31588913|                   5|       63.97675835|               5|       3908.636859|                 1|       1.203007519|                      3|       442.8184984|                     1|         0.222255703|                         4|
|    Manifold Heights|                1181|        42|    2649|    Manifold Heights|        0.188262116|          2|              1|        0|            1|      1|            3|                    2|            7|                    3|0.072114522|                  5|       684.8111576|                  1|       317.1240923|              3|0.016929688000000002|                 1|         0.072114522|                   3|        324.776829|                   1|         0.072114522|                         5|        578.467689|                      1|        11.86933222|                   5|       74.71701939|               5|       2775.464709|                 1|       0.384172109|                      2|407.91711139999995|                     1|         0.006321343|                         1|
|            Breamlea|                 113|         2|     162|            Breamlea|        0.040144734|          1|              0|        0|            0|      1|            3|                    2|            1|                    3|        0.0|                  1|       9871.009855|                  5|       186.6770536|              1|         0.582522665|                 5|          0.06388698|                   3|         4436.6264|                   4|                 0.0|                         1|       6209.626633|                      5|        0.069636885|                   2|       1.635599425|               1|20041.557569999997|                 4|       2.252252252|                      4|1708.7440609999999|                     4|  0.5157238439999999|                         5|
|           Moorabool|                  37|         0|      90|           Moorabool|        0.027620726|          1|              0|        0|            0|      0|            1|                    1|            0|                    1|        0.0|                  1|       6152.082272|                  4|       2143.302225|              5|0.001474982999999...|                 1|         0.025426393|                   2|       3780.604601|                   4|         0.025426393|                         2| 4320.535296999999|                      4|        0.015722062|                   1|0.8202814970000001|               1|       10976.57883|                 3|               0.0|                      1|       4948.392657|                     5|                 0.0|                         1|
|             Leopold|                5219|       107|   12814|             Leopold|        0.318900425|          3|              0|        0|            1|      1|            5|                    3|            3|                    4|        0.0|                  1|       6613.058659|                  5|       241.5395642|              2|0.035066942000000004|                 1|         0.088330768|                   3|       744.2108958|                   2|          0.01962906|                         2|       1179.752468|                      2|         1.45067135|                   3|       13.10329995|               3|11553.166879999999|                 4|0.7903576370000001|                      2|       793.5022202|                     3| 0.17338627399999998|                         4|
+--------------------+--------------------+----------+--------+--------------------+-------------------+-----------+---------------+---------+-------------+-------+-------------+---------------------+-------------+---------------------+-----------+-------------------+------------------+-------------------+------------------+---------------+--------------------+------------------+--------------------+--------------------+------------------+--------------------+--------------------+--------------------------+------------------+-----------------------+-------------------+--------------------+------------------+----------------+------------------+------------------+------------------+-----------------------+------------------+----------------------+--------------------+--------------------------+
only showing top 20 rows

In [30]:
#label encoding for area and suburb
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
pre_processed_data['Area'] = labelencoder.fit_transform(pre_processed_data['Area'])
#pre_processed_data['Suburb'] = labelencoder.fit_transform(pre_processed_data['Suburb'])
#pre_processed_data=pre_processed_data.drop(['Suburb'], axis = 1)
pre_processed_data

    Area  Total_dwellings_2016  ...  RatioTrailsToRoads  RatioTrailsToRoadsquintile
0      2                   106  ...            0.038605                           1
1     22                  7547  ...            0.121901                           2
2     41                  1433  ...            0.222852                           4
3      0                   271  ...            0.000000                           1
4     31                   587  ...            0.090617                           2
5     43                   736  ...            0.046827                           2
6      3                  2226  ...            0.292693                           5
7     10                   479  ...            0.172038                           3
8     15                  4275  ...            0.138250                           3
9     11                  3412  ...            0.063443                           2
10    39                  2149  ...            0.031002                           1
11    14                   618  ...            0.267464                           5
12    20                  2842  ...            0.157551                           3
13    29                    68  ...            0.398211                           5
14     9                    89  ...            0.100644                           2
15    21                  1749  ...            0.222256                           4
16    27                  1181  ...            0.006321                           1
17     8                   113  ...            0.515724                           5
18    30                    37  ...            0.000000                           1
19    24                  5219  ...            0.173386                           4
20     4                   295  ...            0.044318                           1
21    42                   468  ...            0.048704                           2
22    37                  2390  ...            0.000000                           1
23     5                  2389  ...            0.284067                           5
24    38                  2786  ...            0.056918                           2
25    45                  1839  ...            0.495891                           5
26    28                    45  ...            0.211490                           4
27    32                  2917  ...            0.135687                           3
28     7                  6674  ...            0.309020                           5
29     1                   109  ...            0.049240                           2
30    12                   329  ...            0.208043                           4
31    36                  7391  ...            0.106208                           2
32    16                  1832  ...            0.151095                           3
33    44                  1448  ...            0.145049                           3
34    34                  4340  ...            0.187973                           4
35     6                  2171  ...            0.189429                           4
36    33                  4540  ...            0.141187                           3
37    25                   495  ...            0.000000                           1
38    26                   824  ...            0.245397                           5
39    35                  1594  ...            0.229948                           5
40    13                  6200  ...            0.157992                           3
41    40                  3506  ...            0.075193                           2
42    17                   110  ...            0.453513                           5
43    23                  5860  ...            0.181499                           4
44    18                  3479  ...            0.025997                           1
45    19                  6915  ...            0.166972                           3

[46 rows x 42 columns]

In [0]:
from google.colab import files

pre_processed_data.to_csv('pre_processed_data_with_labelencoding.csv') 
files.download('pre_processed_data_with_labelencoding.csv')