# Decision Tree

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('Geelong.csv')
df.head()

,Unnamed: 0,OBJECTID,ACCIDENT_NO,ABS_CODE,ACCIDENT_STATUS,ACCIDENT_DATE,ACCIDENT_TIME,ALCOHOLTIME,ACCIDENT_TYPE,DAY_OF_WEEK,...,DEG_URBAN_ALL,LGA_NAME_ALL,REGION_NAME_ALL,SRNS,SRNS_ALL,RMA,RMA_ALL,DIVIDED,DIVIDED_ALL,STAT_DIV_NAME
0,173,3401917.0,T20130014230,ABS to receive accident,Finished,9/7/2013,16.07.00,No,Collision with vehicle,Tuesday,...,LARGE_PROVINCIAL_CITIES,GEELONG,SOUTH WESTERN REGION,B,B,Arterial Highway,Arterial Highway,Undivided,Undiv,Country
1,280,3402024.0,T20130014449,ABS to receive accident,Finished,12/7/2013,15.45.00,No,Collision with vehicle,Friday,...,RURAL_VICTORIA,GEELONG,SOUTH WESTERN REGION,C,C,Arterial Other,"Arterial Other,Local Road",Undivided,Undiv,Country
2,431,3402175.0,T20130014588,ABS to receive accident,Finished,14/7/2013,15.50.00,No,Collision with vehicle,Sunday,...,LARGE_PROVINCIAL_CITIES,GEELONG,SOUTH WESTERN REGION,B,B,Arterial Highway,Arterial Highway,Undivided,Undiv,Country
3,435,3402179.0,T20130014602,ABS to receive accident,Finished,14/7/2013,15.47.00,No,Collision with vehicle,Sunday,...,LARGE_PROVINCIAL_CITIES,GEELONG,SOUTH WESTERN REGION,C,C,Arterial Other,"Arterial Other,Local Road",Divided,"Div,Undiv",Country
4,485,3402229.0,T20130014788,ABS to receive accident,Finished,17/7/2013,16.47.00,No,Collision with vehicle,Wednesday,...,RURAL_VICTORIA,GEELONG,SOUTH WESTERN REGION,C,C,Arterial Other,"Arterial Other,Local Road",Undivided,Undiv,Country

In [3]:
df1=df.drop(['OBJECTID','ACCIDENT_NO','ABS_CODE','ACCIDENT_STATUS','LGA_NAME_ALL','REGION_NAME_ALL','SRNS','SRNS_ALL','RMA_ALL','STAT_DIV_NAME','DIVIDED_ALL','DEG_URBAN_ALL','DCA_CODE','ACCIDENT_DATE','VICGRID_Y','VICGRID_X','NODE_ID','HIT_RUN_FLAG','POLICE_ATTEND'],axis='columns')
df1.head()

,Unnamed: 0,ACCIDENT_TIME,ALCOHOLTIME,ACCIDENT_TYPE,DAY_OF_WEEK,LIGHT_CONDITION,ROAD_GEOMETRY,SEVERITY,SPEED_ZONE,RUN_OFFROAD,...,ALCOHOL_RELATED,UNLICENCSED,NO_OF_VEHICLES,HEAVYVEHICLE,PASSENGERVEHICLE,MOTORCYCLE,PUBLICVEHICLE,DEG_URBAN_NAME,RMA,DIVIDED
0,173,16.07.00,No,Collision with vehicle,Tuesday,Day,Not at intersection,Other injury accident,60 km/hr,No,...,No,0.0,3.0,0.0,3.0,0.0,0.0,LARGE_PROVINCIAL_CITIES,Arterial Highway,Undivided
1,280,15.45.00,No,Collision with vehicle,Friday,Day,Cross intersection,Serious injury accident,100 km/hr,No,...,No,0.0,2.0,0.0,2.0,0.0,0.0,RURAL_VICTORIA,Arterial Other,Undivided
2,431,15.50.00,No,Collision with vehicle,Sunday,Day,Not at intersection,Serious injury accident,60 km/hr,No,...,No,0.0,4.0,0.0,4.0,0.0,0.0,LARGE_PROVINCIAL_CITIES,Arterial Highway,Undivided
3,435,15.47.00,No,Collision with vehicle,Sunday,Day,Cross intersection,Other injury accident,50 km/hr,No,...,No,0.0,2.0,0.0,2.0,0.0,0.0,LARGE_PROVINCIAL_CITIES,Arterial Other,Divided
4,485,16.47.00,No,Collision with vehicle,Wednesday,Day,T intersection,Other injury accident,70 km/hr,No,...,No,0.0,2.0,0.0,2.0,0.0,0.0,RURAL_VICTORIA,Arterial Other,Undivided

In [4]:
df2=df1.copy()
ser_inj_or_fat=df1['SERIOUSINJURY'] + df1['FATALITY']
df2['ser_inj_or_fat']=ser_inj_or_fat
df2.head()

,Unnamed: 0,ACCIDENT_TIME,ALCOHOLTIME,ACCIDENT_TYPE,DAY_OF_WEEK,LIGHT_CONDITION,ROAD_GEOMETRY,SEVERITY,SPEED_ZONE,RUN_OFFROAD,...,UNLICENCSED,NO_OF_VEHICLES,HEAVYVEHICLE,PASSENGERVEHICLE,MOTORCYCLE,PUBLICVEHICLE,DEG_URBAN_NAME,RMA,DIVIDED,ser_inj_or_fat
0,173,16.07.00,No,Collision with vehicle,Tuesday,Day,Not at intersection,Other injury accident,60 km/hr,No,...,0.0,3.0,0.0,3.0,0.0,0.0,LARGE_PROVINCIAL_CITIES,Arterial Highway,Undivided,0.0
1,280,15.45.00,No,Collision with vehicle,Friday,Day,Cross intersection,Serious injury accident,100 km/hr,No,...,0.0,2.0,0.0,2.0,0.0,0.0,RURAL_VICTORIA,Arterial Other,Undivided,1.0
2,431,15.50.00,No,Collision with vehicle,Sunday,Day,Not at intersection,Serious injury accident,60 km/hr,No,...,0.0,4.0,0.0,4.0,0.0,0.0,LARGE_PROVINCIAL_CITIES,Arterial Highway,Undivided,1.0
3,435,15.47.00,No,Collision with vehicle,Sunday,Day,Cross intersection,Other injury accident,50 km/hr,No,...,0.0,2.0,0.0,2.0,0.0,0.0,LARGE_PROVINCIAL_CITIES,Arterial Other,Divided,0.0
4,485,16.47.00,No,Collision with vehicle,Wednesday,Day,T intersection,Other injury accident,70 km/hr,No,...,0.0,2.0,0.0,2.0,0.0,0.0,RURAL_VICTORIA,Arterial Other,Undivided,0.0

In [5]:
df2.shape

(1567, 46)

In [6]:
df3=df2.drop(['FATALITY','SERIOUSINJURY','INJ_OR_FATAL','NODE_TYPE','RUN_OFFROAD'],axis='columns')
df3.head()

,Unnamed: 0,ACCIDENT_TIME,ALCOHOLTIME,ACCIDENT_TYPE,DAY_OF_WEEK,LIGHT_CONDITION,ROAD_GEOMETRY,SEVERITY,SPEED_ZONE,LONGITUDE,...,UNLICENCSED,NO_OF_VEHICLES,HEAVYVEHICLE,PASSENGERVEHICLE,MOTORCYCLE,PUBLICVEHICLE,DEG_URBAN_NAME,RMA,DIVIDED,ser_inj_or_fat
0,173,16.07.00,No,Collision with vehicle,Tuesday,Day,Not at intersection,Other injury accident,60 km/hr,144.34102,...,0.0,3.0,0.0,3.0,0.0,0.0,LARGE_PROVINCIAL_CITIES,Arterial Highway,Undivided,0.0
1,280,15.45.00,No,Collision with vehicle,Friday,Day,Cross intersection,Serious injury accident,100 km/hr,144.37017,...,0.0,2.0,0.0,2.0,0.0,0.0,RURAL_VICTORIA,Arterial Other,Undivided,1.0
2,431,15.50.00,No,Collision with vehicle,Sunday,Day,Not at intersection,Serious injury accident,60 km/hr,144.33444,...,0.0,4.0,0.0,4.0,0.0,0.0,LARGE_PROVINCIAL_CITIES,Arterial Highway,Undivided,1.0
3,435,15.47.00,No,Collision with vehicle,Sunday,Day,Cross intersection,Other injury accident,50 km/hr,144.35731,...,0.0,2.0,0.0,2.0,0.0,0.0,LARGE_PROVINCIAL_CITIES,Arterial Other,Divided,0.0
4,485,16.47.00,No,Collision with vehicle,Wednesday,Day,T intersection,Other injury accident,70 km/hr,144.36124,...,0.0,2.0,0.0,2.0,0.0,0.0,RURAL_VICTORIA,Arterial Other,Undivided,0.0

In [7]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1567 entries, 0 to 1566
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1567 non-null   int64
 1   ACCIDENT_TIME      1567 non-null   object
 2   ALCOHOLTIME        1567 non-null   object
 3   ACCIDENT_TYPE      1567 non-null   object
 4   DAY_OF_WEEK        1567 non-null   object
 5   LIGHT_CONDITION    1567 non-null   object
 6   ROAD_GEOMETRY      1567 non-null   object
 7   SEVERITY           1567 non-null   object
 8   SPEED_ZONE         1567 non-null   object
 9   LONGITUDE          1567 non-null   float64
 10  LATITUDE           1567 non-null   float64
 11  LGA_NAME           1567 non-null   object
 12  REGION_NAME        1567 non-null   object
 13  TOTAL_PERSONS      1567 non-null   float64
 14  OTHERINJURY        1567 non-null   float64
 15  NONINJURED         1567 non-null   float64
 16  MALES              1567 non-null   float64
 17  FEMALES            1567 non-null   float64
 18  BICYCLIST          1567 non-null   float64
 19  PASSENGER          1567 non-null   float64
 20  DRIVER             1567 non-null   float64
 21  PEDESTRIAN         1567 non-null   float64
 22  PILLION            1567 non-null   float64
 23  MOTORIST           1567 non-null   float64
 24  UNKNOWN            1567 non-null   float64
 25  PED_CYCLIST_5_12   1567 non-null   float64
 26  PED_CYCLIST_13_18  1567 non-null   float64
 27  OLD_PEDESTRIAN     1567 non-null   float64
 28  OLD_DRIVER         1567 non-null   float64
 29  YOUNG_DRIVER       1567 non-null   float64
 30  ALCOHOL_RELATED    1567 non-null   object
 31  UNLICENCSED        1567 non-null   float64
 32  NO_OF_VEHICLES     1567 non-null   float64
 33  HEAVYVEHICLE       1567 non-null   float64
 34  PASSENGERVEHICLE   1567 non-null   float64
 35  MOTORCYCLE         1567 non-null   float64
 36  PUBLICVEHICLE      1567 non-null   float64
 37  DEG_URBAN_NAME     1567 non-null   object
 38  RMA                1567 non-null   object
 39  DIVIDED            1567 non-null   object
 40  ser_inj_or_fat     1567 non-null   float64
dtypes: float64(26), int64(1), object(14)
memory usage: 502.1+ KB

In [8]:
Small_towns=df3.DEG_URBAN_NAME !='SMALL_TOWNS'
Small_towns.head()

0    True
1    True
2    True
3    True
4    True
Name: DEG_URBAN_NAME, dtype: bool

In [9]:
df4=df3[Small_towns]
df4.shape

(1565, 41)

In [10]:
small_cities=df4.DEG_URBAN_NAME !='SMALL_CITIES'
small_cities.head()

0    True
1    True
2    True
3    True
4    True
Name: DEG_URBAN_NAME, dtype: bool

In [11]:
df5=df4[small_cities]
df5.shape

(1513, 41)

In [12]:
towns=df5.DEG_URBAN_NAME !='TOWNS'
towns.head()

0    True
1    True
2    True
3    True
4    True
Name: DEG_URBAN_NAME, dtype: bool

In [13]:
df6=df5[towns]
df6.shape

(1460, 41)

In [14]:
unknown_speed=df6.SPEED_ZONE !='Not known'
unknown_speed.head()

0    True
1    True
2    True
3    True
4    True
Name: SPEED_ZONE, dtype: bool

In [15]:
df7=df6[unknown_speed]
df7.shape

(1433, 41)

In [16]:
ninety_speed=df7.SPEED_ZONE !='90 km/hr'
ninety_speed.head()

0    True
1    True
2    True
3    True
4    True
Name: SPEED_ZONE, dtype: bool

In [17]:
df8=df7[ninety_speed]
df8.shape

(1429, 41)

In [18]:
forty_speed=df8.SPEED_ZONE !='40 km/hr'
forty_speed.head()

0    True
1    True
2    True
3    True
4    True
Name: SPEED_ZONE, dtype: bool

In [19]:
df9=df8[forty_speed]
df9.shape

(1408, 41)

In [20]:
Camping_ground=df9.SPEED_ZONE!='Camping grounds or off road'
Camping_ground.head()

0    True
1    True
2    True
3    True
4    True
Name: SPEED_ZONE, dtype: bool

In [21]:
df10=df9[Camping_ground]
df10.shape

(1405, 41)

In [22]:
other_speed=df10.SPEED_ZONE!='Other speed limit'
other_speed.head()

0    True
1    True
2    True
3    True
4    True
Name: SPEED_ZONE, dtype: bool

In [23]:
df11=df10[other_speed]
df11.shape

(1404, 41)

In [24]:
unknown_geometry=df11.ROAD_GEOMETRY!='Unknown'
unknown_geometry.head()

0    True
1    True
2    True
3    True
4    True
Name: ROAD_GEOMETRY, dtype: bool

In [25]:
df12=df11[unknown_geometry]
df12.shape

(1403, 41)

In [26]:
y_intersection=df12.ROAD_GEOMETRY!='y intersection'
y_intersection.head()

0    True
1    True
2    True
3    True
4    True
Name: ROAD_GEOMETRY, dtype: bool

In [27]:
df13=df12[y_intersection]
df13.shape

(1403, 41)

In [28]:
animal_hit=df13.ACCIDENT_TYPE!='Struck animal'
animal_hit.head()

0    True
1    True
2    True
3    True
4    True
Name: ACCIDENT_TYPE, dtype: bool

In [29]:
df14=df13[animal_hit]
df14.shape

(1398, 41)

In [30]:
fall_from_vehicle=df14.ACCIDENT_TYPE!='Fall from or in moving vehicle'
fall_from_vehicle.head()

0    True
1    True
2    True
3    True
4    True
Name: ACCIDENT_TYPE, dtype: bool

In [31]:
df15=df14[fall_from_vehicle]
df15.shape

(1396, 41)

In [32]:
collision_with_other=df15.ACCIDENT_TYPE!='collision with some other object'
collision_with_other.head()

0    True
1    True
2    True
3    True
4    True
Name: ACCIDENT_TYPE, dtype: bool

In [33]:
df16=df15[collision_with_other]
df16.shape

(1393, 41)

In [34]:
dark_street_unknown=df16.LIGHT_CONDITION!='Dark Street lights unknown'
dark_street_unknown.head()

0    True
1    True
2    True
3    True
4    True
Name: LIGHT_CONDITION, dtype: bool

In [35]:
df17=df16[dark_street_unknown]
df17.shape

(1388, 41)

In [36]:
unk=df17.LIGHT_CONDITION!='Unk.'
unk.head()

0    True
1    True
2    True
3    True
4    True
Name: LIGHT_CONDITION, dtype: bool

In [37]:
df18=df17[unk]
df18.shape

(1359, 41)

In [38]:
dark_street_off=df18.LIGHT_CONDITION!='Dark Street lights off'
dark_street_off.head()

0    True
1    True
2    True
3    True
4    True
Name: LIGHT_CONDITION, dtype: bool

In [39]:
df19=df18[dark_street_off]
df19.shape

(1357, 41)

In [40]:
df20=df19.drop(['UNKNOWN','ALCOHOL_RELATED','ACCIDENT_TIME','TOTAL_PERSONS','MALES','FEMALES','LGA_NAME','REGION_NAME'],axis='columns')
df20.shape

(1357, 33)

In [41]:
df20.groupby('RMA').count()

,Unnamed: 0,ALCOHOLTIME,ACCIDENT_TYPE,DAY_OF_WEEK,LIGHT_CONDITION,ROAD_GEOMETRY,SEVERITY,SPEED_ZONE,LONGITUDE,LATITUDE,...,YOUNG_DRIVER,UNLICENCSED,NO_OF_VEHICLES,HEAVYVEHICLE,PASSENGERVEHICLE,MOTORCYCLE,PUBLICVEHICLE,DEG_URBAN_NAME,DIVIDED,ser_inj_or_fat
RMA,,,,,,,,,,,,,,,,,,,,,
Arterial Highway,596,596,596,596,596,596,596,596,596,596,...,596,596,596,596,596,596,596,596,596,596
Arterial Other,661,661,661,661,661,661,661,661,661,661,...,661,661,661,661,661,661,661,661,661,661
Freeway,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100

In [42]:
df21=df20.copy()

In [43]:
df22=df21.drop(['LONGITUDE','LATITUDE'],axis='columns')
df22.shape

(1357, 31)

In [44]:
df22.columns

Index(['Unnamed: 0', 'ALCOHOLTIME', 'ACCIDENT_TYPE', 'DAY_OF_WEEK',
       'LIGHT_CONDITION', 'ROAD_GEOMETRY', 'SEVERITY', 'SPEED_ZONE',
       'OTHERINJURY', 'NONINJURED', 'BICYCLIST', 'PASSENGER', 'DRIVER',
       'PEDESTRIAN', 'PILLION', 'MOTORIST', 'PED_CYCLIST_5_12',
       'PED_CYCLIST_13_18', 'OLD_PEDESTRIAN', 'OLD_DRIVER', 'YOUNG_DRIVER',
       'UNLICENCSED', 'NO_OF_VEHICLES', 'HEAVYVEHICLE', 'PASSENGERVEHICLE',
       'MOTORCYCLE', 'PUBLICVEHICLE', 'DEG_URBAN_NAME', 'RMA', 'DIVIDED',
       'ser_inj_or_fat'],
      dtype='object')

In [45]:
df22.groupby('ALCOHOLTIME').count()

,Unnamed: 0,ACCIDENT_TYPE,DAY_OF_WEEK,LIGHT_CONDITION,ROAD_GEOMETRY,SEVERITY,SPEED_ZONE,OTHERINJURY,NONINJURED,BICYCLIST,...,UNLICENCSED,NO_OF_VEHICLES,HEAVYVEHICLE,PASSENGERVEHICLE,MOTORCYCLE,PUBLICVEHICLE,DEG_URBAN_NAME,RMA,DIVIDED,ser_inj_or_fat
ALCOHOLTIME,,,,,,,,,,,,,,,,,,,,,
No,882,882,882,882,882,882,882,882,882,882,...,882,882,882,882,882,882,882,882,882,882
Yes,475,475,475,475,475,475,475,475,475,475,...,475,475,475,475,475,475,475,475,475,475

In [46]:
from sklearn.preprocessing import LabelEncoder
le_ALCOHOLTIME=LabelEncoder()
le_ACCIDENT_TYPE=LabelEncoder()
le_DAY_OF_WEEK=LabelEncoder()
le_LIGHT_CONDITION=LabelEncoder()
le_ROAD_GEOMETRY=LabelEncoder()
le_SEVERITY=LabelEncoder()
le_SPEED_ZONE=LabelEncoder()
le_DEG_URBAN_NAME=LabelEncoder()
le_RMA=LabelEncoder()
le_DIVIDED=LabelEncoder()

In [47]:
df22['ALCOHOLTIME']=le_ALCOHOLTIME.fit_transform(df22['ALCOHOLTIME'])
df22['ACCIDENT_TYPE']=le_ACCIDENT_TYPE.fit_transform(df22['ACCIDENT_TYPE'])
df22['DAY_OF_WEEK']=le_DAY_OF_WEEK.fit_transform(df22['DAY_OF_WEEK'])
df22['LIGHT_CONDITION']=le_LIGHT_CONDITION.fit_transform(df22['LIGHT_CONDITION'])
df22['ROAD_GEOMETRY']=le_ROAD_GEOMETRY.fit_transform(df22['ROAD_GEOMETRY'])
df22['SEVERITY']=le_SEVERITY.fit_transform(df22['SEVERITY'])
df22['SPEED_ZONE']=le_SPEED_ZONE.fit_transform(df22['SPEED_ZONE'])
df22['DEG_URBAN_NAME']=le_DEG_URBAN_NAME.fit_transform(df22['DEG_URBAN_NAME'])
df22['RMA']=le_RMA.fit_transform(df22['RMA'])
df22['DIVIDED']=le_DIVIDED.fit_transform(df22['DIVIDED'])
df22.head()

,Unnamed: 0,ALCOHOLTIME,ACCIDENT_TYPE,DAY_OF_WEEK,LIGHT_CONDITION,ROAD_GEOMETRY,SEVERITY,SPEED_ZONE,OTHERINJURY,NONINJURED,...,UNLICENCSED,NO_OF_VEHICLES,HEAVYVEHICLE,PASSENGERVEHICLE,MOTORCYCLE,PUBLICVEHICLE,DEG_URBAN_NAME,RMA,DIVIDED,ser_inj_or_fat
0,173,0,1,5,2,2,1,2,1.0,2.0,...,0.0,3.0,0.0,3.0,0.0,0.0,0,0,1,0.0
1,280,0,1,0,2,0,2,0,1.0,1.0,...,0.0,2.0,0.0,2.0,0.0,0.0,1,1,1,1.0
2,431,0,1,3,2,2,2,2,0.0,3.0,...,0.0,4.0,0.0,4.0,0.0,0.0,0,0,1,1.0
3,435,0,1,3,2,0,1,1,1.0,1.0,...,0.0,2.0,0.0,2.0,0.0,0.0,0,1,0,0.0
4,485,0,1,6,2,3,1,3,1.0,1.0,...,0.0,2.0,0.0,2.0,0.0,0.0,1,1,1,0.0

In [48]:
x=df22.drop(['SEVERITY'],axis='columns')
y=df22['SEVERITY']

In [49]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=10)

In [50]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=10)

In [51]:
rf.fit(x_train,y_train)
rf.score(x_test,y_test)

0.9779411764705882

In [52]:
from sklearn.metrics import mean_absolute_error
y_pred=rf.predict(x_test)
print (mean_absolute_error(y_test, y_pred))

0.04411764705882353

In [53]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         6
           1       1.00      1.00      1.00       178
           2       0.94      1.00      0.97        88

    accuracy                           0.98       272
   macro avg       0.65      0.67      0.66       272
weighted avg       0.96      0.98      0.97       272

/Users/Talha/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# Logistic Regression

In [54]:
Correlation = df22.corr()
Correlation.style.background_gradient(cmap='rainbow')

def get_redundant_pairs(df):
    pairs_to_drop = set()
    cols = df.columns
    for i in range(0, df.shape[1]):
        for j in range(0, i+1):
            pairs_to_drop.add((cols[i], cols[j]))
    return pairs_to_drop

def get_top_abs_correlations(df, n=5):
    au_corr = df.corr().abs().unstack()
    labels_to_drop = get_redundant_pairs(df)
    au_corr = au_corr.drop(labels=labels_to_drop).sort_values(ascending=False)
    return au_corr[0:n]

print("\tTop Absolute Correlations\n")
print(get_top_abs_correlations(Correlation, 3))

Target_Variable = abs(Correlation["SEVERITY"])
#Selecting highly correlated features with pressure
RF = Target_Variable[Target_Variable > 0.1]
print (RF,"\n")
relevant_features = np.max(RF)
print ("The feature that has the most correlation with SEVERITY = ", relevant_features, "\n")

	Top Absolute Correlations

MOTORIST  MOTORCYCLE          1.000000
DRIVER    PASSENGERVEHICLE    0.983269
          NO_OF_VEHICLES      0.959908
dtype: float64
SEVERITY            1.000000
OTHERINJURY         0.528141
NONINJURED          0.131988
DRIVER              0.136554
MOTORIST            0.132504
NO_OF_VEHICLES      0.123283
PASSENGERVEHICLE    0.143194
MOTORCYCLE          0.132504
DEG_URBAN_NAME      0.145988
ser_inj_or_fat      0.752192
Name: SEVERITY, dtype: float64

The feature that has the most correlation with SEVERITY =  1.0

In [55]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler, PolynomialFeatures

Feats_Log = StandardScaler().fit_transform(x)
Features_Log = PolynomialFeatures(degree=2).fit_transform(Feats_Log)

X_train_Logstc, X_test_Logstc, y_train_Logstc, y_test_Logstc = train_test_split(Features_Log, y, train_size=0.8, random_state=5)

In [56]:
#Solver lbfgs basically means replicating the smaller class until you have as many samples as in the larger one,
Logistic_Model = LogisticRegression(solver='lbfgs', max_iter=1000).fit(X_train_Logstc, y_train_Logstc)
pred_with_Logistic = (Logistic_Model.predict_proba(X_test_Logstc)[:,1] >= 0.45).astype(int)

print ("Accuracy of the model is = ", (Logistic_Model.score(X_test_Logstc, y_test_Logstc))*100,"%\n")

Accuracy of the model is =  96.32352941176471 %

In [57]:
from sklearn import linear_model
Lass = linear_model.ElasticNet(random_state=0)
Lass.fit(X_train_Logstc, y_train_Logstc)
pred_with_Lasso= Lass.predict(X_test_Logstc)
print ("Accuracy of the model is = ", (Lass.score(X_test_Logstc, y_test_Logstc))*100,"%\n")

Accuracy of the model is =  -0.6800212595341026 %

In [58]:
from sklearn.metrics import precision_recall_fscore_support as score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

print ("\nConfusion Matrix:")
cm = confusion_matrix(y_test_Logstc, pred_with_Logistic)
print(cm)
print ("==========================================================")

target_names = ['Other', 'Severe', 'Fatal']
print ("==========================================================")
print ("\n\tTest performance using Precision and recall\n")
print(classification_report(y_test_Logstc, pred_with_Logistic, target_names=target_names))
print ("==========================================================")

Confusion Matrix:
[[  4   0   0]
 [  2 187   0]
 [ 78   1   0]]
==========================================================
==========================================================

	Test performance using Precision and recall

              precision    recall  f1-score   support

       Other       0.05      1.00      0.09         4
      Severe       0.99      0.99      0.99       189
       Fatal       0.00      0.00      0.00        79

    accuracy                           0.70       272
   macro avg       0.35      0.66      0.36       272
weighted avg       0.69      0.70      0.69       272

==========================================================

/Users/Talha/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [59]:
print ("Accuracy of the Decision Tree model is = ",rf.score(x_test,y_test)*100,"%\n")
print ("Accuracy of the Logistic model is = ", (Logistic_Model.score(X_test_Logstc, y_test_Logstc))*100,"%\n")

Accuracy of the Decision Tree model is =  97.79411764705883 %

Accuracy of the Logistic model is =  96.32352941176471 %

In [60]:
# Linear Regression

# Feats = df22[['OTHERINJURY', 'NONINJURED', 'DRIVER', 'MOTORIST', 'NO_OF_VEHICLES', 'PASSENGERVEHICLE', 'MOTORCYCLE', 'DEG_URBAN_NAME', 'ser_inj_or_fat' ]]

# x_train_,x_test_,y_train_,y_test_=train_test_split(Feats,y,train_size=0.8,random_state=10)
# from sklearn.linear_model import LinearRegression
# Linear_Model = LinearRegression().fit(x_train_, y_train_)

# from sklearn.metrics import mean_absolute_error
# from  matplotlib import pyplot 

# y_pred_ = Linear_Model.predict(x_test_)
# print ("The Mean Absolute Error of the Model = ", mean_absolute_error(y_test_, y_pred_))
# print ("Accuracy of the Linear Model = ", Linear_Model.score(x_test_, y_test))