In [16]:
# Importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
# Loading the cbd region data
data1 = pd.read_csv("final_cbd_data.csv")
data1 = pd.DataFrame(data1)    # converting into the data frame

In [18]:
# Loading the regional data
data2 = pd.read_csv("final_regional_data.csv")
data2 = pd.DataFrame(data2)

In [19]:
# Combining the cbd and regional data
data= pd.concat([data1,data2])

In [20]:
# Displaying the final data
data

,Unnamed: 0,PRCP,TAVG,index,Cbd_Regional,total,left,left_avg,year,day,hour
0,2019-01-01,0.000,65.5,0,cbd,13.0,6.0,1.0,2019.0,1.0,13.0
1,2019-01-02,0.000,65.0,1,cbd,18.0,8.0,1.0,2019.0,2.0,11.0
2,2019-01-03,0.000,87.5,2,cbd,7.0,3.5,1.0,2019.0,3.0,12.0
3,2019-01-04,1.524,59.5,3,cbd,19.0,9.0,1.0,2019.0,4.0,11.0
4,2019-01-05,0.000,65.5,4,cbd,17.0,8.0,1.0,2019.0,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...
227,2019-12-27,0.000,68.5,723,regional,16.0,10.0,0.0,2019.0,27.0,11.0
228,2019-12-28,0.000,73.5,724,regional,14.0,9.0,0.0,2019.0,28.0,12.0
229,2019-12-29,0.000,77.0,725,regional,14.0,9.0,0.0,2019.0,29.0,11.0
230,2019-12-30,0.000,87.0,726,regional,9.5,5.0,0.0,2019.0,30.0,12.0
231,2019-12-31,1.524,65.5,727,regional,21.0,12.0,0.0,2019.0,31.0,11.0

In [21]:
# Displaying the column names of the final data
data.columns

Index(['Unnamed: 0', 'PRCP', 'TAVG', 'index', 'Cbd_Regional', 'total', 'left',
       'left_avg', 'year', 'day', 'hour'],
      dtype='object')

In [22]:
# Data changes
data = data.rename(columns={"Unnamed: 0": "Date"})    # renaming the date column name
X = data[['PRCP','TAVG','Cbd_Regional']]              # Selecting the weather attribute and region attribute as input
X.reset_index(drop=True, inplace=True)               # setting the index

In [23]:
# Encoding the categorical values
X['Cbd_Regional']=X['Cbd_Regional'].astype('category')
X['Cbd_Regional'] = X['Cbd_Regional'].cat.codes

C:\Users\Dell\anaconda3\envs\ten\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Dell\anaconda3\envs\ten\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [24]:
# Displaying the input values
X

      PRCP  TAVG  Cbd_Regional
0    0.000  65.5             0
1    0.000  65.0             0
2    0.000  87.5             0
3    1.524  59.5             0
4    0.000  65.5             0
..     ...   ...           ...
496  0.000  68.5             1
497  0.000  73.5             1
498  0.000  77.0             1
499  0.000  87.0             1
500  1.524  65.5             1

[501 rows x 3 columns]

In [25]:
# Target variable
y = data[['total']]
y

     total
0     13.0
1     18.0
2      7.0
3     19.0
4     17.0
..     ...
227   16.0
228   14.0
229   14.0
230    9.5
231   21.0

[501 rows x 1 columns]

In [26]:
import numpy as np
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X, y)

LinearRegression()

In [27]:
# Model prediction - preciptation-1.5,average temperature - 65, cbd - 0
reg.predict(np.array([[1.5, 65,0 ]]))

array([[9.65740543]])